[Unit]
Description=Michael SSH Daemon on port 2024
After=network.target auditd.service
Wants=network-online.target

[Service]
ExecStartPre=/usr/sbin/sshd -t
ExecStart=/usr/sbin/sshd -D -p 2024
ExecReload=/usr/sbin/sshd -t
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
